<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_lnp._tcp.</string>
		<string>_bonjour._tcp</string>
		<string>_http._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Ứng dụng cần truy cập mạng cục bộ để điều khiển thiết bị trong mạng</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ứng dụng cần quyền sử dụng nhận dạng giọng nói để chuyển lời nói thành lệnh</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng cần truy cập micro để nhận lệnh</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ứng dụng cần truy cập vị trí để lấy thông tin wifi</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ứng dụng cần truy cập vị trí để lấy thông tin wifi</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>App-Prefs</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần truy cập vị trí để lấy thông tin wifi</string>
</dict>
</plist>
